<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<customErrors mode="RemoteOnly"/>
		<compilation debug="true"/>
	</system.web>

	<system.webServer>
		 <staticContent>
		 		<remove fileExtension=".json" />
				<mimeMap fileExtension=".json" mimeType="application/json" />
				<remove fileExtension=".svg" />
				<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
				<remove fileExtension=".eot" />
				<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
				<remove fileExtension=".otf" />
				<mimeMap fileExtension=".otf" mimeType="font/otf" />
				<remove fileExtension=".woff" />
				<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		 </staticContent>
	  <httpProtocol>
			<customHeaders>
				 <add name="X-UA-Compatible" value="IE=edge,chrome=1" />
			</customHeaders>
	  </httpProtocol>
  </system.webServer>
</configuration>
